* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-image: url(https://thumbs.dreamstime.com/b/floresta-tropical-tropical-densa-19935125.jpg);
  background-size: cover;       /* Faz a imagem cobrir toda a área */
  background-repeat: no-repeat; /* Evita a repetição da imagem */
  background-position: center;  /* Centraliza a imagem */
  background-attachment: fixed; /* Opcional: fixa a imagem ao rolar */
  color: #333;
  line-height: 1.6;
  padding-bottom: 60px;
  margin: 0;                   /* Remove margens padrão do body */
  min-height: 100vh;           /* Garante que o body ocupe toda a altura da tela */
}


header {
  background-color: #00695c;
  color: white;
  padding: 20px;
  text-align: center;
}

nav {
   background-color: #00695c;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  gap: 20px;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 8px 16px;
  border-radius: 6px;
  transition: background-color 0.3s;
}

nav a:hover {
  color: #ffeb3b;;
}

main {
  padding: 40px 20px;
  max-width: 900px;
  margin: 0 auto;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 105, 92, 0.1);
}